@using System.Data
@model DataTable
<hr />
<h2>Invoices</h2>
<table class="table">
    <tr style="background-color:aliceblue">
        <th>
            Record ID
        </th>
        <th>
            Pieces Sold
        </th>
        <th>
            Total Cost
        </th>
        <th>
            Payment Type
        </th>
        <th></th>
    </tr>

    @foreach (DataRow dr in Model.Rows)
    {
    <tr>
        <td style="padding-top: 1.5%;">
            @dr["recID"]
        </td>
        <td style="padding-top: 1.5%;">
            @dr["PiecesSold"]
        </td>
        <td style="padding-top: 1.5%;">
            @dr["TotalCost"]
        </td>
        <td style="padding-top: 1.5%;">
            @dr["PaymentType"]
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = dr["recID"] }, new { @class = "btn btn-secondary" })
        </td>
    </tr>
    }

